src/wsdl/localhost_8085/AlbumController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers/" name="AlbumControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8085/AlbumController?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://controllers/" schemaLocation="http://localhost:8085/AlbumController?xsd=2"/>
</xsd:schema>
</types>
<message name="obtenerDatosAlbum">
<part name="parameters" element="tns:obtenerDatosAlbum"/>
</message>
<message name="obtenerDatosAlbumResponse">
<part name="parameters" element="tns:obtenerDatosAlbumResponse"/>
</message>
<message name="buscarArtista">
<part name="parameters" element="tns:buscarArtista"/>
</message>
<message name="buscarArtistaResponse">
<part name="parameters" element="tns:buscarArtistaResponse"/>
</message>
<message name="CrearAlbum">
<part name="parameters" element="tns:CrearAlbum"/>
</message>
<message name="CrearAlbumResponse">
<part name="parameters" element="tns:CrearAlbumResponse"/>
</message>
<message name="obtenerNombresAlbums">
<part name="parameters" element="tns:obtenerNombresAlbums"/>
</message>
<message name="obtenerNombresAlbumsResponse">
<part name="parameters" element="tns:obtenerNombresAlbumsResponse"/>
</message>
<message name="obtenerNombresAlbumsFavoritos">
<part name="parameters" element="tns:obtenerNombresAlbumsFavoritos"/>
</message>
<message name="obtenerNombresAlbumsFavoritosResponse">
<part name="parameters" element="tns:obtenerNombresAlbumsFavoritosResponse"/>
</message>
<message name="obtenerAlbumesPorGeneroObj">
<part name="parameters" element="tns:obtenerAlbumesPorGeneroObj"/>
</message>
<message name="obtenerAlbumesPorGeneroObjResponse">
<part name="parameters" element="tns:obtenerAlbumesPorGeneroObjResponse"/>
</message>
<message name="obtenerAlbumArtistaObj">
<part name="parameters" element="tns:obtenerAlbumArtistaObj"/>
</message>
<message name="obtenerAlbumArtistaObjResponse">
<part name="parameters" element="tns:obtenerAlbumArtistaObjResponse"/>
</message>
<message name="registrarAlbum">
<part name="parameters" element="tns:registrarAlbum"/>
</message>
<message name="registrarAlbumResponse">
<part name="parameters" element="tns:registrarAlbumResponse"/>
</message>
<message name="buscarAlbum">
<part name="parameters" element="tns:buscarAlbum"/>
</message>
<message name="buscarAlbumResponse">
<part name="parameters" element="tns:buscarAlbumResponse"/>
</message>
<message name="findAlbum">
<part name="parameters" element="tns:findAlbum"/>
</message>
<message name="findAlbumResponse">
<part name="parameters" element="tns:findAlbumResponse"/>
</message>
<message name="obtenerArtistaAlbum">
<part name="parameters" element="tns:obtenerArtistaAlbum"/>
</message>
<message name="obtenerArtistaAlbumResponse">
<part name="parameters" element="tns:obtenerArtistaAlbumResponse"/>
</message>
<message name="obtenerIdAlbumsFavoritos">
<part name="parameters" element="tns:obtenerIdAlbumsFavoritos"/>
</message>
<message name="obtenerIdAlbumsFavoritosResponse">
<part name="parameters" element="tns:obtenerIdAlbumsFavoritosResponse"/>
</message>
<message name="obtenerDatosCancionAlbum">
<part name="parameters" element="tns:obtenerDatosCancionAlbum"/>
</message>
<message name="obtenerDatosCancionAlbumResponse">
<part name="parameters" element="tns:obtenerDatosCancionAlbumResponse"/>
</message>
<message name="obtenerAlbumesPorGenero">
<part name="parameters" element="tns:obtenerAlbumesPorGenero"/>
</message>
<message name="obtenerAlbumesPorGeneroResponse">
<part name="parameters" element="tns:obtenerAlbumesPorGeneroResponse"/>
</message>
<message name="obtenerAlbumArtistaNombres">
<part name="parameters" element="tns:obtenerAlbumArtistaNombres"/>
</message>
<message name="obtenerAlbumArtistaNombresResponse">
<part name="parameters" element="tns:obtenerAlbumArtistaNombresResponse"/>
</message>
<message name="obtenerDatosCompletoCancion">
<part name="parameters" element="tns:obtenerDatosCompletoCancion"/>
</message>
<message name="obtenerDatosCompletoCancionResponse">
<part name="parameters" element="tns:obtenerDatosCompletoCancionResponse"/>
</message>
<message name="obtenerAlbumArtista">
<part name="parameters" element="tns:obtenerAlbumArtista"/>
</message>
<message name="obtenerAlbumArtistaResponse">
<part name="parameters" element="tns:obtenerAlbumArtistaResponse"/>
</message>
<message name="BuscarAlbumGenero">
<part name="parameters" element="tns:BuscarAlbumGenero"/>
</message>
<message name="BuscarAlbumGeneroResponse">
<part name="parameters" element="tns:BuscarAlbumGeneroResponse"/>
</message>
<message name="obtenerArtistaPorAlbum">
<part name="parameters" element="tns:obtenerArtistaPorAlbum"/>
</message>
<message name="obtenerArtistaPorAlbumResponse">
<part name="parameters" element="tns:obtenerArtistaPorAlbumResponse"/>
</message>
<portType name="AlbumController">
<operation name="obtenerDatosAlbum">
<input wsam:Action="http://controllers/AlbumController/obtenerDatosAlbumRequest" message="tns:obtenerDatosAlbum"/>
<output wsam:Action="http://controllers/AlbumController/obtenerDatosAlbumResponse" message="tns:obtenerDatosAlbumResponse"/>
</operation>
<operation name="buscarArtista">
<input wsam:Action="http://controllers/AlbumController/buscarArtistaRequest" message="tns:buscarArtista"/>
<output wsam:Action="http://controllers/AlbumController/buscarArtistaResponse" message="tns:buscarArtistaResponse"/>
</operation>
<operation name="CrearAlbum">
<input wsam:Action="http://controllers/AlbumController/CrearAlbumRequest" message="tns:CrearAlbum"/>
<output wsam:Action="http://controllers/AlbumController/CrearAlbumResponse" message="tns:CrearAlbumResponse"/>
</operation>
<operation name="obtenerNombresAlbums">
<input wsam:Action="http://controllers/AlbumController/obtenerNombresAlbumsRequest" message="tns:obtenerNombresAlbums"/>
<output wsam:Action="http://controllers/AlbumController/obtenerNombresAlbumsResponse" message="tns:obtenerNombresAlbumsResponse"/>
</operation>
<operation name="obtenerNombresAlbumsFavoritos">
<input wsam:Action="http://controllers/AlbumController/obtenerNombresAlbumsFavoritosRequest" message="tns:obtenerNombresAlbumsFavoritos"/>
<output wsam:Action="http://controllers/AlbumController/obtenerNombresAlbumsFavoritosResponse" message="tns:obtenerNombresAlbumsFavoritosResponse"/>
</operation>
<operation name="obtenerAlbumesPorGeneroObj">
<input wsam:Action="http://controllers/AlbumController/obtenerAlbumesPorGeneroObjRequest" message="tns:obtenerAlbumesPorGeneroObj"/>
<output wsam:Action="http://controllers/AlbumController/obtenerAlbumesPorGeneroObjResponse" message="tns:obtenerAlbumesPorGeneroObjResponse"/>
</operation>
<operation name="obtenerAlbumArtistaObj">
<input wsam:Action="http://controllers/AlbumController/obtenerAlbumArtistaObjRequest" message="tns:obtenerAlbumArtistaObj"/>
<output wsam:Action="http://controllers/AlbumController/obtenerAlbumArtistaObjResponse" message="tns:obtenerAlbumArtistaObjResponse"/>
</operation>
<operation name="registrarAlbum">
<input wsam:Action="http://controllers/AlbumController/registrarAlbumRequest" message="tns:registrarAlbum"/>
<output wsam:Action="http://controllers/AlbumController/registrarAlbumResponse" message="tns:registrarAlbumResponse"/>
</operation>
<operation name="buscarAlbum">
<input wsam:Action="http://controllers/AlbumController/buscarAlbumRequest" message="tns:buscarAlbum"/>
<output wsam:Action="http://controllers/AlbumController/buscarAlbumResponse" message="tns:buscarAlbumResponse"/>
</operation>
<operation name="findAlbum">
<input wsam:Action="http://controllers/AlbumController/findAlbumRequest" message="tns:findAlbum"/>
<output wsam:Action="http://controllers/AlbumController/findAlbumResponse" message="tns:findAlbumResponse"/>
</operation>
<operation name="obtenerArtistaAlbum">
<input wsam:Action="http://controllers/AlbumController/obtenerArtistaAlbumRequest" message="tns:obtenerArtistaAlbum"/>
<output wsam:Action="http://controllers/AlbumController/obtenerArtistaAlbumResponse" message="tns:obtenerArtistaAlbumResponse"/>
</operation>
<operation name="obtenerIdAlbumsFavoritos">
<input wsam:Action="http://controllers/AlbumController/obtenerIdAlbumsFavoritosRequest" message="tns:obtenerIdAlbumsFavoritos"/>
<output wsam:Action="http://controllers/AlbumController/obtenerIdAlbumsFavoritosResponse" message="tns:obtenerIdAlbumsFavoritosResponse"/>
</operation>
<operation name="obtenerDatosCancionAlbum">
<input wsam:Action="http://controllers/AlbumController/obtenerDatosCancionAlbumRequest" message="tns:obtenerDatosCancionAlbum"/>
<output wsam:Action="http://controllers/AlbumController/obtenerDatosCancionAlbumResponse" message="tns:obtenerDatosCancionAlbumResponse"/>
</operation>
<operation name="obtenerAlbumesPorGenero">
<input wsam:Action="http://controllers/AlbumController/obtenerAlbumesPorGeneroRequest" message="tns:obtenerAlbumesPorGenero"/>
<output wsam:Action="http://controllers/AlbumController/obtenerAlbumesPorGeneroResponse" message="tns:obtenerAlbumesPorGeneroResponse"/>
</operation>
<operation name="obtenerAlbumArtistaNombres">
<input wsam:Action="http://controllers/AlbumController/obtenerAlbumArtistaNombresRequest" message="tns:obtenerAlbumArtistaNombres"/>
<output wsam:Action="http://controllers/AlbumController/obtenerAlbumArtistaNombresResponse" message="tns:obtenerAlbumArtistaNombresResponse"/>
</operation>
<operation name="obtenerDatosCompletoCancion">
<input wsam:Action="http://controllers/AlbumController/obtenerDatosCompletoCancionRequest" message="tns:obtenerDatosCompletoCancion"/>
<output wsam:Action="http://controllers/AlbumController/obtenerDatosCompletoCancionResponse" message="tns:obtenerDatosCompletoCancionResponse"/>
</operation>
<operation name="obtenerAlbumArtista">
<input wsam:Action="http://controllers/AlbumController/obtenerAlbumArtistaRequest" message="tns:obtenerAlbumArtista"/>
<output wsam:Action="http://controllers/AlbumController/obtenerAlbumArtistaResponse" message="tns:obtenerAlbumArtistaResponse"/>
</operation>
<operation name="BuscarAlbumGenero">
<input wsam:Action="http://controllers/AlbumController/BuscarAlbumGeneroRequest" message="tns:BuscarAlbumGenero"/>
<output wsam:Action="http://controllers/AlbumController/BuscarAlbumGeneroResponse" message="tns:BuscarAlbumGeneroResponse"/>
</operation>
<operation name="obtenerArtistaPorAlbum">
<input wsam:Action="http://controllers/AlbumController/obtenerArtistaPorAlbumRequest" message="tns:obtenerArtistaPorAlbum"/>
<output wsam:Action="http://controllers/AlbumController/obtenerArtistaPorAlbumResponse" message="tns:obtenerArtistaPorAlbumResponse"/>
</operation>
</portType>
<binding name="AlbumControllerPortBinding" type="tns:AlbumController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerDatosAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresAlbums">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresAlbumsFavoritos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAlbumesPorGeneroObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAlbumArtistaObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerArtistaAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIdAlbumsFavoritos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosCancionAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAlbumesPorGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAlbumArtistaNombres">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosCompletoCancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAlbumArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarAlbumGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerArtistaPorAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlbumControllerService">
<port name="AlbumControllerPort" binding="tns:AlbumControllerPortBinding">
<soap:address location="http://localhost:8085/AlbumController"/>
</port>
</service>
</definitions>