src/wsdl/localhost_8085/Album.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://models/" name="AlbumService">
<types>
<xsd:schema>
<xsd:import namespace="http://models/" schemaLocation="http://localhost:8085/Album?xsd=1"/>
</xsd:schema>
</types>
<message name="equals">
<part name="parameters" element="tns:equals"/>
</message>
<message name="equalsResponse">
<part name="parameters" element="tns:equalsResponse"/>
</message>
<message name="toString">
<part name="parameters" element="tns:toString"/>
</message>
<message name="toStringResponse">
<part name="parameters" element="tns:toStringResponse"/>
</message>
<message name="hashCode">
<part name="parameters" element="tns:hashCode"/>
</message>
<message name="hashCodeResponse">
<part name="parameters" element="tns:hashCodeResponse"/>
</message>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="setNombre">
<part name="parameters" element="tns:setNombre"/>
</message>
<message name="setNombreResponse">
<part name="parameters" element="tns:setNombreResponse"/>
</message>
<message name="getCanciones">
<part name="parameters" element="tns:getCanciones"/>
</message>
<message name="getCancionesResponse">
<part name="parameters" element="tns:getCancionesResponse"/>
</message>
<message name="getAnioo">
<part name="parameters" element="tns:getAnioo"/>
</message>
<message name="getAniooResponse">
<part name="parameters" element="tns:getAniooResponse"/>
</message>
<message name="getArtista">
<part name="parameters" element="tns:getArtista"/>
</message>
<message name="getArtistaResponse">
<part name="parameters" element="tns:getArtistaResponse"/>
</message>
<message name="setGeneros">
<part name="parameters" element="tns:setGeneros"/>
</message>
<message name="setGenerosResponse">
<part name="parameters" element="tns:setGenerosResponse"/>
</message>
<message name="setAnioo">
<part name="parameters" element="tns:setAnioo"/>
</message>
<message name="setAniooResponse">
<part name="parameters" element="tns:setAniooResponse"/>
</message>
<message name="getGeneros">
<part name="parameters" element="tns:getGeneros"/>
</message>
<message name="getGenerosResponse">
<part name="parameters" element="tns:getGenerosResponse"/>
</message>
<message name="getDireccion_imagen">
<part name="parameters" element="tns:getDireccion_imagen"/>
</message>
<message name="getDireccion_imagenResponse">
<part name="parameters" element="tns:getDireccion_imagenResponse"/>
</message>
<portType name="Album">
<operation name="equals">
<input wsam:Action="http://models/Album/equalsRequest" message="tns:equals"/>
<output wsam:Action="http://models/Album/equalsResponse" message="tns:equalsResponse"/>
</operation>
<operation name="toString">
<input wsam:Action="http://models/Album/toStringRequest" message="tns:toString"/>
<output wsam:Action="http://models/Album/toStringResponse" message="tns:toStringResponse"/>
</operation>
<operation name="hashCode">
<input wsam:Action="http://models/Album/hashCodeRequest" message="tns:hashCode"/>
<output wsam:Action="http://models/Album/hashCodeResponse" message="tns:hashCodeResponse"/>
</operation>
<operation name="getId">
<input wsam:Action="http://models/Album/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://models/Album/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="getNombre">
<input wsam:Action="http://models/Album/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://models/Album/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="setNombre">
<input wsam:Action="http://models/Album/setNombreRequest" message="tns:setNombre"/>
<output wsam:Action="http://models/Album/setNombreResponse" message="tns:setNombreResponse"/>
</operation>
<operation name="getCanciones">
<input wsam:Action="http://models/Album/getCancionesRequest" message="tns:getCanciones"/>
<output wsam:Action="http://models/Album/getCancionesResponse" message="tns:getCancionesResponse"/>
</operation>
<operation name="getAnioo">
<input wsam:Action="http://models/Album/getAniooRequest" message="tns:getAnioo"/>
<output wsam:Action="http://models/Album/getAniooResponse" message="tns:getAniooResponse"/>
</operation>
<operation name="getArtista">
<input wsam:Action="http://models/Album/getArtistaRequest" message="tns:getArtista"/>
<output wsam:Action="http://models/Album/getArtistaResponse" message="tns:getArtistaResponse"/>
</operation>
<operation name="setGeneros">
<input wsam:Action="http://models/Album/setGenerosRequest" message="tns:setGeneros"/>
<output wsam:Action="http://models/Album/setGenerosResponse" message="tns:setGenerosResponse"/>
</operation>
<operation name="setAnioo">
<input wsam:Action="http://models/Album/setAniooRequest" message="tns:setAnioo"/>
<output wsam:Action="http://models/Album/setAniooResponse" message="tns:setAniooResponse"/>
</operation>
<operation name="getGeneros">
<input wsam:Action="http://models/Album/getGenerosRequest" message="tns:getGeneros"/>
<output wsam:Action="http://models/Album/getGenerosResponse" message="tns:getGenerosResponse"/>
</operation>
<operation name="getDireccion_imagen">
<input wsam:Action="http://models/Album/getDireccion_imagenRequest" message="tns:getDireccion_imagen"/>
<output wsam:Action="http://models/Album/getDireccion_imagenResponse" message="tns:getDireccion_imagenResponse"/>
</operation>
</portType>
<binding name="AlbumPortBinding" type="tns:Album">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="equals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hashCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnioo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setGeneros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAnioo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGeneros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDireccion_imagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlbumService">
<port name="AlbumPort" binding="tns:AlbumPortBinding">
<soap:address location="http://localhost:8085/Album"/>
</port>
</service>
</definitions>