src/wsdl/localhost_8085/CancionController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers/" name="CancionControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8085/CancionController?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://controllers/" schemaLocation="http://localhost:8085/CancionController?xsd=2"/>
</xsd:schema>
</types>
<message name="aumentoContador">
<part name="parameters" element="tns:aumentoContador"/>
</message>
<message name="aumentoContadorResponse">
<part name="parameters" element="tns:aumentoContadorResponse"/>
</message>
<message name="obtenerNombresCanciones">
<part name="parameters" element="tns:obtenerNombresCanciones"/>
</message>
<message name="obtenerNombresCancionesResponse">
<part name="parameters" element="tns:obtenerNombresCancionesResponse"/>
</message>
<message name="obtenerNombresCancionesFavoritas">
<part name="parameters" element="tns:obtenerNombresCancionesFavoritas"/>
</message>
<message name="obtenerNombresCancionesFavoritasResponse">
<part name="parameters" element="tns:obtenerNombresCancionesFavoritasResponse"/>
</message>
<message name="obtenerFoto">
<part name="parameters" element="tns:obtenerFoto"/>
</message>
<message name="obtenerFotoResponse">
<part name="parameters" element="tns:obtenerFotoResponse"/>
</message>
<message name="obtenerIdAlbum">
<part name="parameters" element="tns:obtenerIdAlbum"/>
</message>
<message name="obtenerIdAlbumResponse">
<part name="parameters" element="tns:obtenerIdAlbumResponse"/>
</message>
<message name="obtenerDatosCancionSwing">
<part name="parameters" element="tns:obtenerDatosCancionSwing"/>
</message>
<message name="obtenerDatosCancionSwingResponse">
<part name="parameters" element="tns:obtenerDatosCancionSwingResponse"/>
</message>
<message name="aumentoDescarga">
<part name="parameters" element="tns:aumentoDescarga"/>
</message>
<message name="aumentoDescargaResponse">
<part name="parameters" element="tns:aumentoDescargaResponse"/>
</message>
<message name="CrearCancion">
<part name="parameters" element="tns:CrearCancion"/>
</message>
<message name="CrearCancionResponse">
<part name="parameters" element="tns:CrearCancionResponse"/>
</message>
<message name="obtenerIdsCancionesFavoritas">
<part name="parameters" element="tns:obtenerIdsCancionesFavoritas"/>
</message>
<message name="obtenerIdsCancionesFavoritasResponse">
<part name="parameters" element="tns:obtenerIdsCancionesFavoritasResponse"/>
</message>
<message name="obtenerDatosCancion">
<part name="parameters" element="tns:obtenerDatosCancion"/>
</message>
<message name="obtenerDatosCancionResponse">
<part name="parameters" element="tns:obtenerDatosCancionResponse"/>
</message>
<message name="obtenerArtista">
<part name="parameters" element="tns:obtenerArtista"/>
</message>
<message name="obtenerArtistaResponse">
<part name="parameters" element="tns:obtenerArtistaResponse"/>
</message>
<portType name="CancionController">
<operation name="aumentoContador">
<input wsam:Action="http://controllers/CancionController/aumentoContadorRequest" message="tns:aumentoContador"/>
<output wsam:Action="http://controllers/CancionController/aumentoContadorResponse" message="tns:aumentoContadorResponse"/>
</operation>
<operation name="obtenerNombresCanciones">
<input wsam:Action="http://controllers/CancionController/obtenerNombresCancionesRequest" message="tns:obtenerNombresCanciones"/>
<output wsam:Action="http://controllers/CancionController/obtenerNombresCancionesResponse" message="tns:obtenerNombresCancionesResponse"/>
</operation>
<operation name="obtenerNombresCancionesFavoritas">
<input wsam:Action="http://controllers/CancionController/obtenerNombresCancionesFavoritasRequest" message="tns:obtenerNombresCancionesFavoritas"/>
<output wsam:Action="http://controllers/CancionController/obtenerNombresCancionesFavoritasResponse" message="tns:obtenerNombresCancionesFavoritasResponse"/>
</operation>
<operation name="obtenerFoto">
<input wsam:Action="http://controllers/CancionController/obtenerFotoRequest" message="tns:obtenerFoto"/>
<output wsam:Action="http://controllers/CancionController/obtenerFotoResponse" message="tns:obtenerFotoResponse"/>
</operation>
<operation name="obtenerIdAlbum">
<input wsam:Action="http://controllers/CancionController/obtenerIdAlbumRequest" message="tns:obtenerIdAlbum"/>
<output wsam:Action="http://controllers/CancionController/obtenerIdAlbumResponse" message="tns:obtenerIdAlbumResponse"/>
</operation>
<operation name="obtenerDatosCancionSwing">
<input wsam:Action="http://controllers/CancionController/obtenerDatosCancionSwingRequest" message="tns:obtenerDatosCancionSwing"/>
<output wsam:Action="http://controllers/CancionController/obtenerDatosCancionSwingResponse" message="tns:obtenerDatosCancionSwingResponse"/>
</operation>
<operation name="aumentoDescarga">
<input wsam:Action="http://controllers/CancionController/aumentoDescargaRequest" message="tns:aumentoDescarga"/>
<output wsam:Action="http://controllers/CancionController/aumentoDescargaResponse" message="tns:aumentoDescargaResponse"/>
</operation>
<operation name="CrearCancion">
<input wsam:Action="http://controllers/CancionController/CrearCancionRequest" message="tns:CrearCancion"/>
<output wsam:Action="http://controllers/CancionController/CrearCancionResponse" message="tns:CrearCancionResponse"/>
</operation>
<operation name="obtenerIdsCancionesFavoritas">
<input wsam:Action="http://controllers/CancionController/obtenerIdsCancionesFavoritasRequest" message="tns:obtenerIdsCancionesFavoritas"/>
<output wsam:Action="http://controllers/CancionController/obtenerIdsCancionesFavoritasResponse" message="tns:obtenerIdsCancionesFavoritasResponse"/>
</operation>
<operation name="obtenerDatosCancion">
<input wsam:Action="http://controllers/CancionController/obtenerDatosCancionRequest" message="tns:obtenerDatosCancion"/>
<output wsam:Action="http://controllers/CancionController/obtenerDatosCancionResponse" message="tns:obtenerDatosCancionResponse"/>
</operation>
<operation name="obtenerArtista">
<input wsam:Action="http://controllers/CancionController/obtenerArtistaRequest" message="tns:obtenerArtista"/>
<output wsam:Action="http://controllers/CancionController/obtenerArtistaResponse" message="tns:obtenerArtistaResponse"/>
</operation>
</portType>
<binding name="CancionControllerPortBinding" type="tns:CancionController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aumentoContador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresCanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresCancionesFavoritas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerFoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIdAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosCancionSwing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aumentoDescarga">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearCancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIdsCancionesFavoritas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosCancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CancionControllerService">
<port name="CancionControllerPort" binding="tns:CancionControllerPortBinding">
<soap:address location="http://localhost:8085/CancionController"/>
</port>
</service>
</definitions>