src/wsdl/localhost_8085/GeneroController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers/" name="GeneroControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://controllers/" schemaLocation="http://localhost:8085/GeneroController?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerNombresGeneros">
<part name="parameters" element="tns:obtenerNombresGeneros"/>
</message>
<message name="obtenerNombresGenerosResponse">
<part name="parameters" element="tns:obtenerNombresGenerosResponse"/>
</message>
<message name="findGenero">
<part name="parameters" element="tns:findGenero"/>
</message>
<message name="findGeneroResponse">
<part name="parameters" element="tns:findGeneroResponse"/>
</message>
<message name="registrarGenero">
<part name="parameters" element="tns:registrarGenero"/>
</message>
<message name="registrarGeneroResponse">
<part name="parameters" element="tns:registrarGeneroResponse"/>
</message>
<message name="registrarGenero2">
<part name="parameters" element="tns:registrarGenero2"/>
</message>
<message name="registrarGenero2Response">
<part name="parameters" element="tns:registrarGenero2Response"/>
</message>
<portType name="GeneroController">
<operation name="obtenerNombresGeneros">
<input wsam:Action="http://controllers/GeneroController/obtenerNombresGenerosRequest" message="tns:obtenerNombresGeneros"/>
<output wsam:Action="http://controllers/GeneroController/obtenerNombresGenerosResponse" message="tns:obtenerNombresGenerosResponse"/>
</operation>
<operation name="findGenero">
<input wsam:Action="http://controllers/GeneroController/findGeneroRequest" message="tns:findGenero"/>
<output wsam:Action="http://controllers/GeneroController/findGeneroResponse" message="tns:findGeneroResponse"/>
</operation>
<operation name="registrarGenero">
<input wsam:Action="http://controllers/GeneroController/registrarGeneroRequest" message="tns:registrarGenero"/>
<output wsam:Action="http://controllers/GeneroController/registrarGeneroResponse" message="tns:registrarGeneroResponse"/>
</operation>
<operation name="registrarGenero2">
<input wsam:Action="http://controllers/GeneroController/registrarGenero2Request" message="tns:registrarGenero2"/>
<output wsam:Action="http://controllers/GeneroController/registrarGenero2Response" message="tns:registrarGenero2Response"/>
</operation>
</portType>
<binding name="GeneroControllerPortBinding" type="tns:GeneroController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerNombresGeneros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarGenero2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeneroControllerService">
<port name="GeneroControllerPort" binding="tns:GeneroControllerPortBinding">
<soap:address location="http://localhost:8085/GeneroController"/>
</port>
</service>
</definitions>