src/wsdl/localhost_8085/PlaylistPorDefecto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://models/" name="PlaylistPorDefectoService">
<types>
<xsd:schema>
<xsd:import namespace="http://models/" schemaLocation="http://localhost:8085/PlaylistPorDefecto?xsd=1"/>
</xsd:schema>
</types>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="setId">
<part name="parameters" element="tns:setId"/>
</message>
<message name="setIdResponse">
<part name="parameters" element="tns:setIdResponse"/>
</message>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="setNombre">
<part name="parameters" element="tns:setNombre"/>
</message>
<message name="setNombreResponse">
<part name="parameters" element="tns:setNombreResponse"/>
</message>
<message name="getRutaImagen">
<part name="parameters" element="tns:getRutaImagen"/>
</message>
<message name="getRutaImagenResponse">
<part name="parameters" element="tns:getRutaImagenResponse"/>
</message>
<message name="setRutaImagen">
<part name="parameters" element="tns:setRutaImagen"/>
</message>
<message name="setRutaImagenResponse">
<part name="parameters" element="tns:setRutaImagenResponse"/>
</message>
<message name="setCanciones">
<part name="parameters" element="tns:setCanciones"/>
</message>
<message name="setCancionesResponse">
<part name="parameters" element="tns:setCancionesResponse"/>
</message>
<message name="setGenero">
<part name="parameters" element="tns:setGenero"/>
</message>
<message name="setGeneroResponse">
<part name="parameters" element="tns:setGeneroResponse"/>
</message>
<message name="getGenero">
<part name="parameters" element="tns:getGenero"/>
</message>
<message name="getGeneroResponse">
<part name="parameters" element="tns:getGeneroResponse"/>
</message>
<message name="getCanciones">
<part name="parameters" element="tns:getCanciones"/>
</message>
<message name="getCancionesResponse">
<part name="parameters" element="tns:getCancionesResponse"/>
</message>
<portType name="PlaylistPorDefecto">
<operation name="getId">
<input wsam:Action="http://models/PlaylistPorDefecto/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://models/PlaylistPorDefecto/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="setId">
<input wsam:Action="http://models/PlaylistPorDefecto/setIdRequest" message="tns:setId"/>
<output wsam:Action="http://models/PlaylistPorDefecto/setIdResponse" message="tns:setIdResponse"/>
</operation>
<operation name="getNombre">
<input wsam:Action="http://models/PlaylistPorDefecto/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://models/PlaylistPorDefecto/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="setNombre">
<input wsam:Action="http://models/PlaylistPorDefecto/setNombreRequest" message="tns:setNombre"/>
<output wsam:Action="http://models/PlaylistPorDefecto/setNombreResponse" message="tns:setNombreResponse"/>
</operation>
<operation name="getRutaImagen">
<input wsam:Action="http://models/PlaylistPorDefecto/getRutaImagenRequest" message="tns:getRutaImagen"/>
<output wsam:Action="http://models/PlaylistPorDefecto/getRutaImagenResponse" message="tns:getRutaImagenResponse"/>
</operation>
<operation name="setRutaImagen">
<input wsam:Action="http://models/PlaylistPorDefecto/setRutaImagenRequest" message="tns:setRutaImagen"/>
<output wsam:Action="http://models/PlaylistPorDefecto/setRutaImagenResponse" message="tns:setRutaImagenResponse"/>
</operation>
<operation name="setCanciones">
<input wsam:Action="http://models/PlaylistPorDefecto/setCancionesRequest" message="tns:setCanciones"/>
<output wsam:Action="http://models/PlaylistPorDefecto/setCancionesResponse" message="tns:setCancionesResponse"/>
</operation>
<operation name="setGenero">
<input wsam:Action="http://models/PlaylistPorDefecto/setGeneroRequest" message="tns:setGenero"/>
<output wsam:Action="http://models/PlaylistPorDefecto/setGeneroResponse" message="tns:setGeneroResponse"/>
</operation>
<operation name="getGenero">
<input wsam:Action="http://models/PlaylistPorDefecto/getGeneroRequest" message="tns:getGenero"/>
<output wsam:Action="http://models/PlaylistPorDefecto/getGeneroResponse" message="tns:getGeneroResponse"/>
</operation>
<operation name="getCanciones">
<input wsam:Action="http://models/PlaylistPorDefecto/getCancionesRequest" message="tns:getCanciones"/>
<output wsam:Action="http://models/PlaylistPorDefecto/getCancionesResponse" message="tns:getCancionesResponse"/>
</operation>
</portType>
<binding name="PlaylistPorDefectoPortBinding" type="tns:PlaylistPorDefecto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRutaImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRutaImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PlaylistPorDefectoService">
<port name="PlaylistPorDefectoPort" binding="tns:PlaylistPorDefectoPortBinding">
<soap:address location="http://localhost:8085/PlaylistPorDefecto"/>
</port>
</service>
</definitions>