src/wsdl/localhost_8085/PlaylistParticular.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://models/" name="PlaylistParticularService">
<types>
<xsd:schema>
<xsd:import namespace="http://models/" schemaLocation="http://localhost:8085/PlaylistParticular?xsd=1"/>
</xsd:schema>
</types>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="setId">
<part name="parameters" element="tns:setId"/>
</message>
<message name="setIdResponse">
<part name="parameters" element="tns:setIdResponse"/>
</message>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="setNombre">
<part name="parameters" element="tns:setNombre"/>
</message>
<message name="setNombreResponse">
<part name="parameters" element="tns:setNombreResponse"/>
</message>
<message name="setCancionesParticular">
<part name="parameters" element="tns:setCancionesParticular"/>
</message>
<message name="setCancionesParticularResponse">
<part name="parameters" element="tns:setCancionesParticularResponse"/>
</message>
<message name="getCanciones">
<part name="parameters" element="tns:getCanciones"/>
</message>
<message name="getCancionesResponse">
<part name="parameters" element="tns:getCancionesResponse"/>
</message>
<message name="setPrivada">
<part name="parameters" element="tns:setPrivada"/>
</message>
<message name="setPrivadaResponse">
<part name="parameters" element="tns:setPrivadaResponse"/>
</message>
<message name="getRutaImagen">
<part name="parameters" element="tns:getRutaImagen"/>
</message>
<message name="getRutaImagenResponse">
<part name="parameters" element="tns:getRutaImagenResponse"/>
</message>
<message name="setRutaImagen">
<part name="parameters" element="tns:setRutaImagen"/>
</message>
<message name="setRutaImagenResponse">
<part name="parameters" element="tns:setRutaImagenResponse"/>
</message>
<message name="getPrivada">
<part name="parameters" element="tns:getPrivada"/>
</message>
<message name="getPrivadaResponse">
<part name="parameters" element="tns:getPrivadaResponse"/>
</message>
<message name="getPropietario">
<part name="parameters" element="tns:getPropietario"/>
</message>
<message name="getPropietarioResponse">
<part name="parameters" element="tns:getPropietarioResponse"/>
</message>
<message name="setCanciones">
<part name="parameters" element="tns:setCanciones"/>
</message>
<message name="setCancionesResponse">
<part name="parameters" element="tns:setCancionesResponse"/>
</message>
<portType name="PlaylistParticular">
<operation name="getId">
<input wsam:Action="http://models/PlaylistParticular/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://models/PlaylistParticular/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="setId">
<input wsam:Action="http://models/PlaylistParticular/setIdRequest" message="tns:setId"/>
<output wsam:Action="http://models/PlaylistParticular/setIdResponse" message="tns:setIdResponse"/>
</operation>
<operation name="getNombre">
<input wsam:Action="http://models/PlaylistParticular/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://models/PlaylistParticular/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="setNombre">
<input wsam:Action="http://models/PlaylistParticular/setNombreRequest" message="tns:setNombre"/>
<output wsam:Action="http://models/PlaylistParticular/setNombreResponse" message="tns:setNombreResponse"/>
</operation>
<operation name="setCancionesParticular">
<input wsam:Action="http://models/PlaylistParticular/setCancionesParticularRequest" message="tns:setCancionesParticular"/>
<output wsam:Action="http://models/PlaylistParticular/setCancionesParticularResponse" message="tns:setCancionesParticularResponse"/>
</operation>
<operation name="getCanciones">
<input wsam:Action="http://models/PlaylistParticular/getCancionesRequest" message="tns:getCanciones"/>
<output wsam:Action="http://models/PlaylistParticular/getCancionesResponse" message="tns:getCancionesResponse"/>
</operation>
<operation name="setPrivada">
<input wsam:Action="http://models/PlaylistParticular/setPrivadaRequest" message="tns:setPrivada"/>
<output wsam:Action="http://models/PlaylistParticular/setPrivadaResponse" message="tns:setPrivadaResponse"/>
</operation>
<operation name="getRutaImagen">
<input wsam:Action="http://models/PlaylistParticular/getRutaImagenRequest" message="tns:getRutaImagen"/>
<output wsam:Action="http://models/PlaylistParticular/getRutaImagenResponse" message="tns:getRutaImagenResponse"/>
</operation>
<operation name="setRutaImagen">
<input wsam:Action="http://models/PlaylistParticular/setRutaImagenRequest" message="tns:setRutaImagen"/>
<output wsam:Action="http://models/PlaylistParticular/setRutaImagenResponse" message="tns:setRutaImagenResponse"/>
</operation>
<operation name="getPrivada">
<input wsam:Action="http://models/PlaylistParticular/getPrivadaRequest" message="tns:getPrivada"/>
<output wsam:Action="http://models/PlaylistParticular/getPrivadaResponse" message="tns:getPrivadaResponse"/>
</operation>
<operation name="getPropietario">
<input wsam:Action="http://models/PlaylistParticular/getPropietarioRequest" message="tns:getPropietario"/>
<output wsam:Action="http://models/PlaylistParticular/getPropietarioResponse" message="tns:getPropietarioResponse"/>
</operation>
<operation name="setCanciones">
<input wsam:Action="http://models/PlaylistParticular/setCancionesRequest" message="tns:setCanciones"/>
<output wsam:Action="http://models/PlaylistParticular/setCancionesResponse" message="tns:setCancionesResponse"/>
</operation>
</portType>
<binding name="PlaylistParticularPortBinding" type="tns:PlaylistParticular">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCancionesParticular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPrivada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRutaImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRutaImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrivada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPropietario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PlaylistParticularService">
<port name="PlaylistParticularPort" binding="tns:PlaylistParticularPortBinding">
<soap:address location="http://localhost:8085/PlaylistParticular"/>
</port>
</service>
</definitions>