src/wsdl/localhost_8085/PlaylistController.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><xs:schema xmlns:tns="http://controllers/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controllers/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8085/PlaylistController?xsd=1"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException"/>

<xs:element name="Publicar_Lista" type="tns:Publicar_Lista"/>

<xs:element name="Publicar_ListaResponse" type="tns:Publicar_ListaResponse"/>

<xs:element name="borrarRelacionPlaylistCancion" type="tns:borrarRelacionPlaylistCancion"/>

<xs:element name="borrarRelacionPlaylistCancionResponse" type="tns:borrarRelacionPlaylistCancionResponse"/>

<xs:element name="crearPlaylist" type="tns:crearPlaylist"/>

<xs:element name="crearPlaylistParticular" type="tns:crearPlaylistParticular"/>

<xs:element name="crearPlaylistParticularResponse" type="tns:crearPlaylistParticularResponse"/>

<xs:element name="crearPlaylistPorDefecto" type="tns:crearPlaylistPorDefecto"/>

<xs:element name="crearPlaylistPorDefectoResponse" type="tns:crearPlaylistPorDefectoResponse"/>

<xs:element name="crearPlaylistResponse" type="tns:crearPlaylistResponse"/>

<xs:element name="crearRelacionPlaylistCancion" type="tns:crearRelacionPlaylistCancion"/>

<xs:element name="crearRelacionPlaylistCancionResponse" type="tns:crearRelacionPlaylistCancionResponse"/>

<xs:element name="eliminarLista" type="tns:eliminarLista"/>

<xs:element name="eliminarListaResponse" type="tns:eliminarListaResponse"/>

<xs:element name="esParticular" type="tns:esParticular"/>

<xs:element name="esParticularResponse" type="tns:esParticularResponse"/>

<xs:element name="findPlaylist" type="tns:findPlaylist"/>

<xs:element name="findPlaylistResponse" type="tns:findPlaylistResponse"/>

<xs:element name="getPropietario" type="tns:getPropietario"/>

<xs:element name="getPropietarioResponse" type="tns:getPropietarioResponse"/>

<xs:element name="obtenerDatosCancionesPlaylist" type="tns:obtenerDatosCancionesPlaylist"/>

<xs:element name="obtenerDatosCancionesPlaylistResponse" type="tns:obtenerDatosCancionesPlaylistResponse"/>

<xs:element name="obtenerDatosPlaylist" type="tns:obtenerDatosPlaylist"/>

<xs:element name="obtenerDatosPlaylistCliente" type="tns:obtenerDatosPlaylistCliente"/>

<xs:element name="obtenerDatosPlaylistClienteResponse" type="tns:obtenerDatosPlaylistClienteResponse"/>

<xs:element name="obtenerDatosPlaylistGenero" type="tns:obtenerDatosPlaylistGenero"/>

<xs:element name="obtenerDatosPlaylistGeneroResponse" type="tns:obtenerDatosPlaylistGeneroResponse"/>

<xs:element name="obtenerDatosPlaylistResponse" type="tns:obtenerDatosPlaylistResponse"/>

<xs:element name="obtenerIdPlaylistFavoritos" type="tns:obtenerIdPlaylistFavoritos"/>

<xs:element name="obtenerIdPlaylistFavoritosResponse" type="tns:obtenerIdPlaylistFavoritosResponse"/>

<xs:element name="obtenerNombresDeCancionesNoPresentesPlaylist" type="tns:obtenerNombresDeCancionesNoPresentesPlaylist"/>

<xs:element name="obtenerNombresDeCancionesNoPresentesPlaylistResponse" type="tns:obtenerNombresDeCancionesNoPresentesPlaylistResponse"/>

<xs:element name="obtenerNombresDePlaylistsFavoritas" type="tns:obtenerNombresDePlaylistsFavoritas"/>

<xs:element name="obtenerNombresDePlaylistsFavoritasResponse" type="tns:obtenerNombresDePlaylistsFavoritasResponse"/>

<xs:element name="obtenerNombresPlaylistCanciones" type="tns:obtenerNombresPlaylistCanciones"/>

<xs:element name="obtenerNombresPlaylistCancionesResponse" type="tns:obtenerNombresPlaylistCancionesResponse"/>

<xs:element name="obtenerNombresPlaylistParticularCliente" type="tns:obtenerNombresPlaylistParticularCliente"/>

<xs:element name="obtenerNombresPlaylistParticularClienteResponse" type="tns:obtenerNombresPlaylistParticularClienteResponse"/>

<xs:element name="obtenerNombresPlaylistPorDefecto" type="tns:obtenerNombresPlaylistPorDefecto"/>

<xs:element name="obtenerNombresPlaylistPorDefectoResponse" type="tns:obtenerNombresPlaylistPorDefectoResponse"/>

<xs:element name="obtenerNombresPlaylistPublicas" type="tns:obtenerNombresPlaylistPublicas"/>

<xs:element name="obtenerNombresPlaylistPublicasResponse" type="tns:obtenerNombresPlaylistPublicasResponse"/>

<xs:element name="obtenerNombresPlaylists" type="tns:obtenerNombresPlaylists"/>

<xs:element name="obtenerNombresPlaylistsResponse" type="tns:obtenerNombresPlaylistsResponse"/>

<xs:element name="obtenerPlaylistLista" type="tns:obtenerPlaylistLista"/>

<xs:element name="obtenerPlaylistListaPorId" type="tns:obtenerPlaylistListaPorId"/>

<xs:element name="obtenerPlaylistListaPorIdResponse" type="tns:obtenerPlaylistListaPorIdResponse"/>

<xs:element name="obtenerPlaylistListaResponse" type="tns:obtenerPlaylistListaResponse"/>

<xs:complexType name="obtenerNombresPlaylistParticularCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistParticularClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresDePlaylistsFavoritas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresDePlaylistsFavoritasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistCanciones">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistCancionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPlaylistLista">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerPlaylistListaResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPlaylistListaPorId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPlaylistListaPorIdResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarRelacionPlaylistCancion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarRelacionPlaylistCancionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerIdPlaylistFavoritos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerIdPlaylistFavoritosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRelacionPlaylistCancion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRelacionPlaylistCancionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="crearPlaylistPorDefecto">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPlaylistPorDefectoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPropietario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPropietarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPlaylist">
<xs:sequence>
<xs:element name="arg0" type="tns:playlist" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="playlist">
<xs:sequence>
<xs:element name="canciones" type="tns:cancion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancion">
<xs:sequence>
<xs:element name="direccion_archivo_de_audio" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:int"/>
<xs:element name="genero" type="tns:genero" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="genero">
<xs:sequence>
<xs:element name="generoCollection" type="tns:genero" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="padreNombre" type="tns:genero" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPlaylistResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerNombresDeCancionesNoPresentesPlaylist">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresDeCancionesNoPresentesPlaylistResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosPlaylistGenero">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosPlaylistGeneroResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosCancionesPlaylist">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosCancionesPlaylistResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPlaylist">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPlaylistResponse">
<xs:sequence>
<xs:element name="return" type="tns:playlist" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosPlaylist">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosPlaylistResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylists">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarLista">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarListaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistPorDefecto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistPorDefectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esParticular">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esParticularResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPlaylistParticular">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPlaylistParticularResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistPublicas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerNombresPlaylistPublicasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosPlaylistCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDatosPlaylistClienteResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Publicar_Lista">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Publicar_ListaResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>