src/wsdl/localhost_8085/PlaylistController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers/" name="PlaylistControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8085/PlaylistController?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://controllers/" schemaLocation="http://localhost:8085/PlaylistController?xsd=2"/>
</xsd:schema>
</types>
<message name="eliminarLista">
<part name="parameters" element="tns:eliminarLista"/>
</message>
<message name="eliminarListaResponse">
<part name="parameters" element="tns:eliminarListaResponse"/>
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException"/>
</message>
<message name="esParticular">
<part name="parameters" element="tns:esParticular"/>
</message>
<message name="esParticularResponse">
<part name="parameters" element="tns:esParticularResponse"/>
</message>
<message name="obtenerNombresPlaylistParticularCliente">
<part name="parameters" element="tns:obtenerNombresPlaylistParticularCliente"/>
</message>
<message name="obtenerNombresPlaylistParticularClienteResponse">
<part name="parameters" element="tns:obtenerNombresPlaylistParticularClienteResponse"/>
</message>
<message name="obtenerNombresPlaylistPublicas">
<part name="parameters" element="tns:obtenerNombresPlaylistPublicas"/>
</message>
<message name="obtenerNombresPlaylistPublicasResponse">
<part name="parameters" element="tns:obtenerNombresPlaylistPublicasResponse"/>
</message>
<message name="obtenerNombresDePlaylistsFavoritas">
<part name="parameters" element="tns:obtenerNombresDePlaylistsFavoritas"/>
</message>
<message name="obtenerNombresDePlaylistsFavoritasResponse">
<part name="parameters" element="tns:obtenerNombresDePlaylistsFavoritasResponse"/>
</message>
<message name="obtenerNombresPlaylistPorDefecto">
<part name="parameters" element="tns:obtenerNombresPlaylistPorDefecto"/>
</message>
<message name="obtenerNombresPlaylistPorDefectoResponse">
<part name="parameters" element="tns:obtenerNombresPlaylistPorDefectoResponse"/>
</message>
<message name="obtenerNombresDeCancionesNoPresentesPlaylist">
<part name="parameters" element="tns:obtenerNombresDeCancionesNoPresentesPlaylist"/>
</message>
<message name="obtenerNombresDeCancionesNoPresentesPlaylistResponse">
<part name="parameters" element="tns:obtenerNombresDeCancionesNoPresentesPlaylistResponse"/>
</message>
<message name="obtenerNombresPlaylistCanciones">
<part name="parameters" element="tns:obtenerNombresPlaylistCanciones"/>
</message>
<message name="obtenerNombresPlaylistCancionesResponse">
<part name="parameters" element="tns:obtenerNombresPlaylistCancionesResponse"/>
</message>
<message name="borrarRelacionPlaylistCancion">
<part name="parameters" element="tns:borrarRelacionPlaylistCancion"/>
</message>
<message name="borrarRelacionPlaylistCancionResponse">
<part name="parameters" element="tns:borrarRelacionPlaylistCancionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="crearRelacionPlaylistCancion">
<part name="parameters" element="tns:crearRelacionPlaylistCancion"/>
</message>
<message name="crearRelacionPlaylistCancionResponse">
<part name="parameters" element="tns:crearRelacionPlaylistCancionResponse"/>
</message>
<message name="crearPlaylistPorDefecto">
<part name="parameters" element="tns:crearPlaylistPorDefecto"/>
</message>
<message name="crearPlaylistPorDefectoResponse">
<part name="parameters" element="tns:crearPlaylistPorDefectoResponse"/>
</message>
<message name="crearPlaylistParticular">
<part name="parameters" element="tns:crearPlaylistParticular"/>
</message>
<message name="crearPlaylistParticularResponse">
<part name="parameters" element="tns:crearPlaylistParticularResponse"/>
</message>
<message name="obtenerDatosPlaylist">
<part name="parameters" element="tns:obtenerDatosPlaylist"/>
</message>
<message name="obtenerDatosPlaylistResponse">
<part name="parameters" element="tns:obtenerDatosPlaylistResponse"/>
</message>
<message name="obtenerDatosPlaylistGenero">
<part name="parameters" element="tns:obtenerDatosPlaylistGenero"/>
</message>
<message name="obtenerDatosPlaylistGeneroResponse">
<part name="parameters" element="tns:obtenerDatosPlaylistGeneroResponse"/>
</message>
<message name="obtenerDatosPlaylistCliente">
<part name="parameters" element="tns:obtenerDatosPlaylistCliente"/>
</message>
<message name="obtenerDatosPlaylistClienteResponse">
<part name="parameters" element="tns:obtenerDatosPlaylistClienteResponse"/>
</message>
<message name="obtenerPlaylistLista">
<part name="parameters" element="tns:obtenerPlaylistLista"/>
</message>
<message name="obtenerPlaylistListaResponse">
<part name="parameters" element="tns:obtenerPlaylistListaResponse"/>
</message>
<message name="Publicar_Lista">
<part name="parameters" element="tns:Publicar_Lista"/>
</message>
<message name="Publicar_ListaResponse">
<part name="parameters" element="tns:Publicar_ListaResponse"/>
</message>
<message name="getPropietario">
<part name="parameters" element="tns:getPropietario"/>
</message>
<message name="getPropietarioResponse">
<part name="parameters" element="tns:getPropietarioResponse"/>
</message>
<message name="obtenerPlaylistListaPorId">
<part name="parameters" element="tns:obtenerPlaylistListaPorId"/>
</message>
<message name="obtenerPlaylistListaPorIdResponse">
<part name="parameters" element="tns:obtenerPlaylistListaPorIdResponse"/>
</message>
<message name="obtenerNombresPlaylists">
<part name="parameters" element="tns:obtenerNombresPlaylists"/>
</message>
<message name="obtenerNombresPlaylistsResponse">
<part name="parameters" element="tns:obtenerNombresPlaylistsResponse"/>
</message>
<message name="obtenerIdPlaylistFavoritos">
<part name="parameters" element="tns:obtenerIdPlaylistFavoritos"/>
</message>
<message name="obtenerIdPlaylistFavoritosResponse">
<part name="parameters" element="tns:obtenerIdPlaylistFavoritosResponse"/>
</message>
<message name="obtenerDatosCancionesPlaylist">
<part name="parameters" element="tns:obtenerDatosCancionesPlaylist"/>
</message>
<message name="obtenerDatosCancionesPlaylistResponse">
<part name="parameters" element="tns:obtenerDatosCancionesPlaylistResponse"/>
</message>
<message name="findPlaylist">
<part name="parameters" element="tns:findPlaylist"/>
</message>
<message name="findPlaylistResponse">
<part name="parameters" element="tns:findPlaylistResponse"/>
</message>
<message name="crearPlaylist">
<part name="parameters" element="tns:crearPlaylist"/>
</message>
<message name="crearPlaylistResponse">
<part name="parameters" element="tns:crearPlaylistResponse"/>
</message>
<portType name="PlaylistController">
<operation name="eliminarLista">
<input wsam:Action="http://controllers/PlaylistController/eliminarListaRequest" message="tns:eliminarLista"/>
<output wsam:Action="http://controllers/PlaylistController/eliminarListaResponse" message="tns:eliminarListaResponse"/>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://controllers/PlaylistController/eliminarLista/Fault/NonexistentEntityException"/>
</operation>
<operation name="esParticular">
<input wsam:Action="http://controllers/PlaylistController/esParticularRequest" message="tns:esParticular"/>
<output wsam:Action="http://controllers/PlaylistController/esParticularResponse" message="tns:esParticularResponse"/>
</operation>
<operation name="obtenerNombresPlaylistParticularCliente">
<input wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistParticularClienteRequest" message="tns:obtenerNombresPlaylistParticularCliente"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistParticularClienteResponse" message="tns:obtenerNombresPlaylistParticularClienteResponse"/>
</operation>
<operation name="obtenerNombresPlaylistPublicas">
<input wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistPublicasRequest" message="tns:obtenerNombresPlaylistPublicas"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistPublicasResponse" message="tns:obtenerNombresPlaylistPublicasResponse"/>
</operation>
<operation name="obtenerNombresDePlaylistsFavoritas">
<input wsam:Action="http://controllers/PlaylistController/obtenerNombresDePlaylistsFavoritasRequest" message="tns:obtenerNombresDePlaylistsFavoritas"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerNombresDePlaylistsFavoritasResponse" message="tns:obtenerNombresDePlaylistsFavoritasResponse"/>
</operation>
<operation name="obtenerNombresPlaylistPorDefecto">
<input wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistPorDefectoRequest" message="tns:obtenerNombresPlaylistPorDefecto"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistPorDefectoResponse" message="tns:obtenerNombresPlaylistPorDefectoResponse"/>
</operation>
<operation name="obtenerNombresDeCancionesNoPresentesPlaylist">
<input wsam:Action="http://controllers/PlaylistController/obtenerNombresDeCancionesNoPresentesPlaylistRequest" message="tns:obtenerNombresDeCancionesNoPresentesPlaylist"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerNombresDeCancionesNoPresentesPlaylistResponse" message="tns:obtenerNombresDeCancionesNoPresentesPlaylistResponse"/>
</operation>
<operation name="obtenerNombresPlaylistCanciones">
<input wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistCancionesRequest" message="tns:obtenerNombresPlaylistCanciones"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistCancionesResponse" message="tns:obtenerNombresPlaylistCancionesResponse"/>
</operation>
<operation name="borrarRelacionPlaylistCancion">
<input wsam:Action="http://controllers/PlaylistController/borrarRelacionPlaylistCancionRequest" message="tns:borrarRelacionPlaylistCancion"/>
<output wsam:Action="http://controllers/PlaylistController/borrarRelacionPlaylistCancionResponse" message="tns:borrarRelacionPlaylistCancionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/PlaylistController/borrarRelacionPlaylistCancion/Fault/Exception"/>
</operation>
<operation name="crearRelacionPlaylistCancion">
<input wsam:Action="http://controllers/PlaylistController/crearRelacionPlaylistCancionRequest" message="tns:crearRelacionPlaylistCancion"/>
<output wsam:Action="http://controllers/PlaylistController/crearRelacionPlaylistCancionResponse" message="tns:crearRelacionPlaylistCancionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/PlaylistController/crearRelacionPlaylistCancion/Fault/Exception"/>
</operation>
<operation name="crearPlaylistPorDefecto">
<input wsam:Action="http://controllers/PlaylistController/crearPlaylistPorDefectoRequest" message="tns:crearPlaylistPorDefecto"/>
<output wsam:Action="http://controllers/PlaylistController/crearPlaylistPorDefectoResponse" message="tns:crearPlaylistPorDefectoResponse"/>
</operation>
<operation name="crearPlaylistParticular">
<input wsam:Action="http://controllers/PlaylistController/crearPlaylistParticularRequest" message="tns:crearPlaylistParticular"/>
<output wsam:Action="http://controllers/PlaylistController/crearPlaylistParticularResponse" message="tns:crearPlaylistParticularResponse"/>
</operation>
<operation name="obtenerDatosPlaylist">
<input wsam:Action="http://controllers/PlaylistController/obtenerDatosPlaylistRequest" message="tns:obtenerDatosPlaylist"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerDatosPlaylistResponse" message="tns:obtenerDatosPlaylistResponse"/>
</operation>
<operation name="obtenerDatosPlaylistGenero">
<input wsam:Action="http://controllers/PlaylistController/obtenerDatosPlaylistGeneroRequest" message="tns:obtenerDatosPlaylistGenero"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerDatosPlaylistGeneroResponse" message="tns:obtenerDatosPlaylistGeneroResponse"/>
</operation>
<operation name="obtenerDatosPlaylistCliente">
<input wsam:Action="http://controllers/PlaylistController/obtenerDatosPlaylistClienteRequest" message="tns:obtenerDatosPlaylistCliente"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerDatosPlaylistClienteResponse" message="tns:obtenerDatosPlaylistClienteResponse"/>
</operation>
<operation name="obtenerPlaylistLista">
<input wsam:Action="http://controllers/PlaylistController/obtenerPlaylistListaRequest" message="tns:obtenerPlaylistLista"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerPlaylistListaResponse" message="tns:obtenerPlaylistListaResponse"/>
</operation>
<operation name="Publicar_Lista">
<input wsam:Action="http://controllers/PlaylistController/Publicar_ListaRequest" message="tns:Publicar_Lista"/>
<output wsam:Action="http://controllers/PlaylistController/Publicar_ListaResponse" message="tns:Publicar_ListaResponse"/>
</operation>
<operation name="getPropietario">
<input wsam:Action="http://controllers/PlaylistController/getPropietarioRequest" message="tns:getPropietario"/>
<output wsam:Action="http://controllers/PlaylistController/getPropietarioResponse" message="tns:getPropietarioResponse"/>
</operation>
<operation name="obtenerPlaylistListaPorId">
<input wsam:Action="http://controllers/PlaylistController/obtenerPlaylistListaPorIdRequest" message="tns:obtenerPlaylistListaPorId"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerPlaylistListaPorIdResponse" message="tns:obtenerPlaylistListaPorIdResponse"/>
</operation>
<operation name="obtenerNombresPlaylists">
<input wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistsRequest" message="tns:obtenerNombresPlaylists"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerNombresPlaylistsResponse" message="tns:obtenerNombresPlaylistsResponse"/>
</operation>
<operation name="obtenerIdPlaylistFavoritos">
<input wsam:Action="http://controllers/PlaylistController/obtenerIdPlaylistFavoritosRequest" message="tns:obtenerIdPlaylistFavoritos"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerIdPlaylistFavoritosResponse" message="tns:obtenerIdPlaylistFavoritosResponse"/>
</operation>
<operation name="obtenerDatosCancionesPlaylist">
<input wsam:Action="http://controllers/PlaylistController/obtenerDatosCancionesPlaylistRequest" message="tns:obtenerDatosCancionesPlaylist"/>
<output wsam:Action="http://controllers/PlaylistController/obtenerDatosCancionesPlaylistResponse" message="tns:obtenerDatosCancionesPlaylistResponse"/>
</operation>
<operation name="findPlaylist">
<input wsam:Action="http://controllers/PlaylistController/findPlaylistRequest" message="tns:findPlaylist"/>
<output wsam:Action="http://controllers/PlaylistController/findPlaylistResponse" message="tns:findPlaylistResponse"/>
</operation>
<operation name="crearPlaylist">
<input wsam:Action="http://controllers/PlaylistController/crearPlaylistRequest" message="tns:crearPlaylist"/>
<output wsam:Action="http://controllers/PlaylistController/crearPlaylistResponse" message="tns:crearPlaylistResponse"/>
</operation>
</portType>
<binding name="PlaylistControllerPortBinding" type="tns:PlaylistController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"/>
</fault>
</operation>
<operation name="esParticular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresPlaylistParticularCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresPlaylistPublicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresDePlaylistsFavoritas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresPlaylistPorDefecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresDeCancionesNoPresentesPlaylist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresPlaylistCanciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarRelacionPlaylistCancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="crearRelacionPlaylistCancion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="crearPlaylistPorDefecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPlaylistParticular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosPlaylist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosPlaylistGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosPlaylistCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPlaylistLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Publicar_Lista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPropietario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPlaylistListaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresPlaylists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIdPlaylistFavoritos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosCancionesPlaylist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPlaylist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPlaylist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PlaylistControllerService">
<port name="PlaylistControllerPort" binding="tns:PlaylistControllerPortBinding">
<soap:address location="http://localhost:8085/PlaylistController"/>
</port>
</service>
</definitions>