src/wsdl/localhost_8085/UsuarioController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers/" name="UsuarioControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8085/UsuarioController?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://controllers/" schemaLocation="http://localhost:8085/UsuarioController?xsd=2"/>
</xsd:schema>
</types>
<message name="obtenerNombresArtistas">
<part name="parameters" element="tns:obtenerNombresArtistas"/>
</message>
<message name="obtenerNombresArtistasResponse">
<part name="parameters" element="tns:obtenerNombresArtistasResponse"/>
</message>
<message name="obtenerDatosClientes">
<part name="parameters" element="tns:obtenerDatosClientes"/>
</message>
<message name="obtenerDatosClientesResponse">
<part name="parameters" element="tns:obtenerDatosClientesResponse"/>
</message>
<message name="obtenerDatosCliente">
<part name="parameters" element="tns:obtenerDatosCliente"/>
</message>
<message name="obtenerDatosClienteResponse">
<part name="parameters" element="tns:obtenerDatosClienteResponse"/>
</message>
<message name="obtenerNombresClientes">
<part name="parameters" element="tns:obtenerNombresClientes"/>
</message>
<message name="obtenerNombresClientesResponse">
<part name="parameters" element="tns:obtenerNombresClientesResponse"/>
</message>
<message name="registroUsuario">
<part name="parameters" element="tns:registroUsuario"/>
</message>
<message name="registroUsuarioResponse">
<part name="parameters" element="tns:registroUsuarioResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="registrarCancionFavorita">
<part name="parameters" element="tns:registrarCancionFavorita"/>
</message>
<message name="registrarCancionFavoritaResponse">
<part name="parameters" element="tns:registrarCancionFavoritaResponse"/>
</message>
<message name="eliminarAlbumFavorito">
<part name="parameters" element="tns:eliminarAlbumFavorito"/>
</message>
<message name="eliminarAlbumFavoritoResponse">
<part name="parameters" element="tns:eliminarAlbumFavoritoResponse"/>
</message>
<message name="registrarPlaylistFavorita">
<part name="parameters" element="tns:registrarPlaylistFavorita"/>
</message>
<message name="registrarPlaylistFavoritaResponse">
<part name="parameters" element="tns:registrarPlaylistFavoritaResponse"/>
</message>
<message name="eliminarPlaylistFavorita">
<part name="parameters" element="tns:eliminarPlaylistFavorita"/>
</message>
<message name="eliminarPlaylistFavoritaResponse">
<part name="parameters" element="tns:eliminarPlaylistFavoritaResponse"/>
</message>
<message name="registrarAlbumFavorito">
<part name="parameters" element="tns:registrarAlbumFavorito"/>
</message>
<message name="registrarAlbumFavoritoResponse">
<part name="parameters" element="tns:registrarAlbumFavoritoResponse"/>
</message>
<message name="eliminarCancionFavorita">
<part name="parameters" element="tns:eliminarCancionFavorita"/>
</message>
<message name="eliminarCancionFavoritaResponse">
<part name="parameters" element="tns:eliminarCancionFavoritaResponse"/>
</message>
<message name="CambiarEstadosubscripcion">
<part name="parameters" element="tns:CambiarEstadosubscripcion"/>
</message>
<message name="CambiarEstadosubscripcionResponse">
<part name="parameters" element="tns:CambiarEstadosubscripcionResponse"/>
</message>
<message name="obtenerDatosArtista">
<part name="parameters" element="tns:obtenerDatosArtista"/>
</message>
<message name="obtenerDatosArtistaResponse">
<part name="parameters" element="tns:obtenerDatosArtistaResponse"/>
</message>
<message name="obtenerDatosArtistas">
<part name="parameters" element="tns:obtenerDatosArtistas"/>
</message>
<message name="obtenerDatosArtistasResponse">
<part name="parameters" element="tns:obtenerDatosArtistasResponse"/>
</message>
<message name="hashPassword">
<part name="parameters" element="tns:hashPassword"/>
</message>
<message name="hashPasswordResponse">
<part name="parameters" element="tns:hashPasswordResponse"/>
</message>
<message name="artistaNombre">
<part name="parameters" element="tns:artistaNombre"/>
</message>
<message name="artistaNombreResponse">
<part name="parameters" element="tns:artistaNombreResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException"/>
</message>
<message name="tipoUsuario">
<part name="parameters" element="tns:tipoUsuario"/>
</message>
<message name="tipoUsuarioResponse">
<part name="parameters" element="tns:tipoUsuarioResponse"/>
</message>
<message name="esCliente">
<part name="parameters" element="tns:esCliente"/>
</message>
<message name="esClienteResponse">
<part name="parameters" element="tns:esClienteResponse"/>
</message>
<message name="checkPassword">
<part name="parameters" element="tns:checkPassword"/>
</message>
<message name="checkPasswordResponse">
<part name="parameters" element="tns:checkPasswordResponse"/>
</message>
<message name="dejarSeguirUsuario">
<part name="parameters" element="tns:dejarSeguirUsuario"/>
</message>
<message name="dejarSeguirUsuarioResponse">
<part name="parameters" element="tns:dejarSeguirUsuarioResponse"/>
</message>
<message name="getNickPorMail">
<part name="parameters" element="tns:getNickPorMail"/>
</message>
<message name="getNickPorMailResponse">
<part name="parameters" element="tns:getNickPorMailResponse"/>
</message>
<message name="getDatosUsuario">
<part name="parameters" element="tns:getDatosUsuario"/>
</message>
<message name="getDatosUsuarioResponse">
<part name="parameters" element="tns:getDatosUsuarioResponse"/>
</message>
<message name="usuarioNombre">
<part name="parameters" element="tns:usuarioNombre"/>
</message>
<message name="usuarioNombreResponse">
<part name="parameters" element="tns:usuarioNombreResponse"/>
</message>
<message name="inicioSesion">
<part name="parameters" element="tns:inicioSesion"/>
</message>
<message name="inicioSesionResponse">
<part name="parameters" element="tns:inicioSesionResponse"/>
</message>
<message name="autenticarUsuario">
<part name="parameters" element="tns:autenticarUsuario"/>
</message>
<message name="autenticarUsuarioResponse">
<part name="parameters" element="tns:autenticarUsuarioResponse"/>
</message>
<message name="seguirUsuario">
<part name="parameters" element="tns:seguirUsuario"/>
</message>
<message name="seguirUsuarioResponse">
<part name="parameters" element="tns:seguirUsuarioResponse"/>
</message>
<message name="obtenerNombresDePlaylistsNoFavoritas">
<part name="parameters" element="tns:obtenerNombresDePlaylistsNoFavoritas"/>
</message>
<message name="obtenerNombresDePlaylistsNoFavoritasResponse">
<part name="parameters" element="tns:obtenerNombresDePlaylistsNoFavoritasResponse"/>
</message>
<message name="obtenerNicknamesseguidos">
<part name="parameters" element="tns:obtenerNicknamesseguidos"/>
</message>
<message name="obtenerNicknamesseguidosResponse">
<part name="parameters" element="tns:obtenerNicknamesseguidosResponse"/>
</message>
<message name="obtenerNicknamesseguidores">
<part name="parameters" element="tns:obtenerNicknamesseguidores"/>
</message>
<message name="obtenerNicknamesseguidoresResponse">
<part name="parameters" element="tns:obtenerNicknamesseguidoresResponse"/>
</message>
<message name="eliminarAlbumFavoritoWeb">
<part name="parameters" element="tns:eliminarAlbumFavoritoWeb"/>
</message>
<message name="eliminarAlbumFavoritoWebResponse">
<part name="parameters" element="tns:eliminarAlbumFavoritoWebResponse"/>
</message>
<message name="obtenerNicknamesDisponiblesASeguir">
<part name="parameters" element="tns:obtenerNicknamesDisponiblesASeguir"/>
</message>
<message name="obtenerNicknamesDisponiblesASeguirResponse">
<part name="parameters" element="tns:obtenerNicknamesDisponiblesASeguirResponse"/>
</message>
<message name="registrarAlbumFavoritoWeb">
<part name="parameters" element="tns:registrarAlbumFavoritoWeb"/>
</message>
<message name="registrarAlbumFavoritoWebResponse">
<part name="parameters" element="tns:registrarAlbumFavoritoWebResponse"/>
</message>
<portType name="UsuarioController">
<operation name="obtenerNombresArtistas">
<input wsam:Action="http://controllers/UsuarioController/obtenerNombresArtistasRequest" message="tns:obtenerNombresArtistas"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerNombresArtistasResponse" message="tns:obtenerNombresArtistasResponse"/>
</operation>
<operation name="obtenerDatosClientes">
<input wsam:Action="http://controllers/UsuarioController/obtenerDatosClientesRequest" message="tns:obtenerDatosClientes"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerDatosClientesResponse" message="tns:obtenerDatosClientesResponse"/>
</operation>
<operation name="obtenerDatosCliente">
<input wsam:Action="http://controllers/UsuarioController/obtenerDatosClienteRequest" message="tns:obtenerDatosCliente"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerDatosClienteResponse" message="tns:obtenerDatosClienteResponse"/>
</operation>
<operation name="obtenerNombresClientes">
<input wsam:Action="http://controllers/UsuarioController/obtenerNombresClientesRequest" message="tns:obtenerNombresClientes"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerNombresClientesResponse" message="tns:obtenerNombresClientesResponse"/>
</operation>
<operation name="registroUsuario">
<input wsam:Action="http://controllers/UsuarioController/registroUsuarioRequest" message="tns:registroUsuario"/>
<output wsam:Action="http://controllers/UsuarioController/registroUsuarioResponse" message="tns:registroUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/registroUsuario/Fault/Exception"/>
</operation>
<operation name="registrarCancionFavorita">
<input wsam:Action="http://controllers/UsuarioController/registrarCancionFavoritaRequest" message="tns:registrarCancionFavorita"/>
<output wsam:Action="http://controllers/UsuarioController/registrarCancionFavoritaResponse" message="tns:registrarCancionFavoritaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/registrarCancionFavorita/Fault/Exception"/>
</operation>
<operation name="eliminarAlbumFavorito">
<input wsam:Action="http://controllers/UsuarioController/eliminarAlbumFavoritoRequest" message="tns:eliminarAlbumFavorito"/>
<output wsam:Action="http://controllers/UsuarioController/eliminarAlbumFavoritoResponse" message="tns:eliminarAlbumFavoritoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/eliminarAlbumFavorito/Fault/Exception"/>
</operation>
<operation name="registrarPlaylistFavorita">
<input wsam:Action="http://controllers/UsuarioController/registrarPlaylistFavoritaRequest" message="tns:registrarPlaylistFavorita"/>
<output wsam:Action="http://controllers/UsuarioController/registrarPlaylistFavoritaResponse" message="tns:registrarPlaylistFavoritaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/registrarPlaylistFavorita/Fault/Exception"/>
</operation>
<operation name="eliminarPlaylistFavorita">
<input wsam:Action="http://controllers/UsuarioController/eliminarPlaylistFavoritaRequest" message="tns:eliminarPlaylistFavorita"/>
<output wsam:Action="http://controllers/UsuarioController/eliminarPlaylistFavoritaResponse" message="tns:eliminarPlaylistFavoritaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/eliminarPlaylistFavorita/Fault/Exception"/>
</operation>
<operation name="registrarAlbumFavorito">
<input wsam:Action="http://controllers/UsuarioController/registrarAlbumFavoritoRequest" message="tns:registrarAlbumFavorito"/>
<output wsam:Action="http://controllers/UsuarioController/registrarAlbumFavoritoResponse" message="tns:registrarAlbumFavoritoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/registrarAlbumFavorito/Fault/Exception"/>
</operation>
<operation name="eliminarCancionFavorita">
<input wsam:Action="http://controllers/UsuarioController/eliminarCancionFavoritaRequest" message="tns:eliminarCancionFavorita"/>
<output wsam:Action="http://controllers/UsuarioController/eliminarCancionFavoritaResponse" message="tns:eliminarCancionFavoritaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/eliminarCancionFavorita/Fault/Exception"/>
</operation>
<operation name="CambiarEstadosubscripcion">
<input wsam:Action="http://controllers/UsuarioController/CambiarEstadosubscripcionRequest" message="tns:CambiarEstadosubscripcion"/>
<output wsam:Action="http://controllers/UsuarioController/CambiarEstadosubscripcionResponse" message="tns:CambiarEstadosubscripcionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/CambiarEstadosubscripcion/Fault/Exception"/>
</operation>
<operation name="obtenerDatosArtista">
<input wsam:Action="http://controllers/UsuarioController/obtenerDatosArtistaRequest" message="tns:obtenerDatosArtista"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerDatosArtistaResponse" message="tns:obtenerDatosArtistaResponse"/>
</operation>
<operation name="obtenerDatosArtistas">
<input wsam:Action="http://controllers/UsuarioController/obtenerDatosArtistasRequest" message="tns:obtenerDatosArtistas"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerDatosArtistasResponse" message="tns:obtenerDatosArtistasResponse"/>
</operation>
<operation name="hashPassword">
<input wsam:Action="http://controllers/UsuarioController/hashPasswordRequest" message="tns:hashPassword"/>
<output wsam:Action="http://controllers/UsuarioController/hashPasswordResponse" message="tns:hashPasswordResponse"/>
</operation>
<operation name="artistaNombre">
<input wsam:Action="http://controllers/UsuarioController/artistaNombreRequest" message="tns:artistaNombre"/>
<output wsam:Action="http://controllers/UsuarioController/artistaNombreResponse" message="tns:artistaNombreResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://controllers/UsuarioController/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://controllers/UsuarioController/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://controllers/UsuarioController/eliminarUsuario/Fault/NonexistentEntityException"/>
</operation>
<operation name="tipoUsuario">
<input wsam:Action="http://controllers/UsuarioController/tipoUsuarioRequest" message="tns:tipoUsuario"/>
<output wsam:Action="http://controllers/UsuarioController/tipoUsuarioResponse" message="tns:tipoUsuarioResponse"/>
</operation>
<operation name="esCliente">
<input wsam:Action="http://controllers/UsuarioController/esClienteRequest" message="tns:esCliente"/>
<output wsam:Action="http://controllers/UsuarioController/esClienteResponse" message="tns:esClienteResponse"/>
</operation>
<operation name="checkPassword">
<input wsam:Action="http://controllers/UsuarioController/checkPasswordRequest" message="tns:checkPassword"/>
<output wsam:Action="http://controllers/UsuarioController/checkPasswordResponse" message="tns:checkPasswordResponse"/>
</operation>
<operation name="dejarSeguirUsuario">
<input wsam:Action="http://controllers/UsuarioController/dejarSeguirUsuarioRequest" message="tns:dejarSeguirUsuario"/>
<output wsam:Action="http://controllers/UsuarioController/dejarSeguirUsuarioResponse" message="tns:dejarSeguirUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/dejarSeguirUsuario/Fault/Exception"/>
</operation>
<operation name="getNickPorMail">
<input wsam:Action="http://controllers/UsuarioController/getNickPorMailRequest" message="tns:getNickPorMail"/>
<output wsam:Action="http://controllers/UsuarioController/getNickPorMailResponse" message="tns:getNickPorMailResponse"/>
</operation>
<operation name="getDatosUsuario">
<input wsam:Action="http://controllers/UsuarioController/getDatosUsuarioRequest" message="tns:getDatosUsuario"/>
<output wsam:Action="http://controllers/UsuarioController/getDatosUsuarioResponse" message="tns:getDatosUsuarioResponse"/>
</operation>
<operation name="usuarioNombre">
<input wsam:Action="http://controllers/UsuarioController/usuarioNombreRequest" message="tns:usuarioNombre"/>
<output wsam:Action="http://controllers/UsuarioController/usuarioNombreResponse" message="tns:usuarioNombreResponse"/>
</operation>
<operation name="inicioSesion">
<input wsam:Action="http://controllers/UsuarioController/inicioSesionRequest" message="tns:inicioSesion"/>
<output wsam:Action="http://controllers/UsuarioController/inicioSesionResponse" message="tns:inicioSesionResponse"/>
</operation>
<operation name="autenticarUsuario">
<input wsam:Action="http://controllers/UsuarioController/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
<output wsam:Action="http://controllers/UsuarioController/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
</operation>
<operation name="seguirUsuario">
<input wsam:Action="http://controllers/UsuarioController/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://controllers/UsuarioController/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/seguirUsuario/Fault/Exception"/>
</operation>
<operation name="obtenerNombresDePlaylistsNoFavoritas">
<input wsam:Action="http://controllers/UsuarioController/obtenerNombresDePlaylistsNoFavoritasRequest" message="tns:obtenerNombresDePlaylistsNoFavoritas"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerNombresDePlaylistsNoFavoritasResponse" message="tns:obtenerNombresDePlaylistsNoFavoritasResponse"/>
</operation>
<operation name="obtenerNicknamesseguidos">
<input wsam:Action="http://controllers/UsuarioController/obtenerNicknamesseguidosRequest" message="tns:obtenerNicknamesseguidos"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerNicknamesseguidosResponse" message="tns:obtenerNicknamesseguidosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/obtenerNicknamesseguidos/Fault/Exception"/>
</operation>
<operation name="obtenerNicknamesseguidores">
<input wsam:Action="http://controllers/UsuarioController/obtenerNicknamesseguidoresRequest" message="tns:obtenerNicknamesseguidores"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerNicknamesseguidoresResponse" message="tns:obtenerNicknamesseguidoresResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/obtenerNicknamesseguidores/Fault/Exception"/>
</operation>
<operation name="eliminarAlbumFavoritoWeb">
<input wsam:Action="http://controllers/UsuarioController/eliminarAlbumFavoritoWebRequest" message="tns:eliminarAlbumFavoritoWeb"/>
<output wsam:Action="http://controllers/UsuarioController/eliminarAlbumFavoritoWebResponse" message="tns:eliminarAlbumFavoritoWebResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/eliminarAlbumFavoritoWeb/Fault/Exception"/>
</operation>
<operation name="obtenerNicknamesDisponiblesASeguir">
<input wsam:Action="http://controllers/UsuarioController/obtenerNicknamesDisponiblesASeguirRequest" message="tns:obtenerNicknamesDisponiblesASeguir"/>
<output wsam:Action="http://controllers/UsuarioController/obtenerNicknamesDisponiblesASeguirResponse" message="tns:obtenerNicknamesDisponiblesASeguirResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/obtenerNicknamesDisponiblesASeguir/Fault/Exception"/>
</operation>
<operation name="registrarAlbumFavoritoWeb">
<input wsam:Action="http://controllers/UsuarioController/registrarAlbumFavoritoWebRequest" message="tns:registrarAlbumFavoritoWeb"/>
<output wsam:Action="http://controllers/UsuarioController/registrarAlbumFavoritoWebResponse" message="tns:registrarAlbumFavoritoWebResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controllers/UsuarioController/registrarAlbumFavoritoWeb/Fault/Exception"/>
</operation>
</portType>
<binding name="UsuarioControllerPortBinding" type="tns:UsuarioController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerNombresArtistas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registroUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registrarCancionFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarAlbumFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registrarPlaylistFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarPlaylistFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registrarAlbumFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarCancionFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CambiarEstadosubscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDatosArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosArtistas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hashPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="artistaNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"/>
</fault>
</operation>
<operation name="tipoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="esCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dejarSeguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getNickPorMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="usuarioNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inicioSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerNombresDePlaylistsNoFavoritas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNicknamesseguidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerNicknamesseguidores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarAlbumFavoritoWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerNicknamesDisponiblesASeguir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registrarAlbumFavoritoWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="UsuarioControllerService">
<port name="UsuarioControllerPort" binding="tns:UsuarioControllerPortBinding">
<soap:address location="http://localhost:8085/UsuarioController"/>
</port>
</service>
</definitions>